
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 100px;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}





.ajaxcart .btn-style-2.checkout {
    display: inline-block;
    padding: 10px 0px;
    width: 47%;
    margin-right: 0;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline.btn-buyNow, .btn-outline.btn-style-2 {
    background: #fff;
    color: #e02027;
}
.btn-outline {
    position: relative;
    z-index: 0;
    border: 1px solid;
    border-color: #e02027;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    outline: none !important;
}
.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}



.cart_header_labels.hidden-xs.clearfix {
    float: left;
}

.label_item {
    white-space: nowrap; /* Prevent text from breaking to new lines */

    padding-right: 20px;
    text-align: center; 
}

.note_cart label {
    display: block; /* Make the label display as a block element */
}

.note_cart textarea {
    border: 1px solid #ccc; /* Add a border to the textarea */
    padding: 5px; /* Add padding to the textarea */
    width: 100%; /* Make the textarea take up the full width */
    box-sizing: border-box; /* Include the border in the width */
}
p {
    margin-bottom: 20px;
    margin: 0 0 10px;
    text-align: left ;
}

.pd_saler p {
    display: block;
    width: 100%;
    padding-left: 25px;
    background: url(//theme.hstatic.net/200000420363/1001162486/14/check-ser.png?v=285) left 2px no-repeat;
    padding-bottom: 0px;
    line-height: 1.4;
}

.pd_saler h3 {
    font-size: 17px;
    color: #5a5a5a;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
    margin: 15px;
}


.cart__subtotal-title {
    text-align: left;
}

.control-label {
    margin: 10px;
}

.page-header{
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 600;
    font-size: larger;
}