@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");

body,
html {
  font-family: "Work Sans", sans-serif;
}

/* Style the navigation bar links */
.navbar .navigation {
  float: left;
  display: block;
  color: rgb(0, 0, 0); /* Text color */
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  margin-left: 7rem;
  font-size: 16px;
  font-weight: bolder;
}

.navbar .navbar .hotline-button {
  text-align: center;
  text-decoration: none;
  margin-left: 7rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar .hotline-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}


/* Change color on hover */
.navbar a:hover {
  color: #d72c2c; /* Text color on hover */
}
