@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
@font-face {
    font-family: 'Righteous';
    src: url('/assets/font/Righteous.ttf');
}
body,
html {
    font-family: 'Work Sans', sans-serif;
}
body {
    background: #dddddd;
    box-sizing: border-box;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 4px !important;
    border-radius: 4px !important;
    background-color: #fff !important;
}
.swiper-pagination-bullet-active {
    background-color: #ff3939 !important;
}
